.line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 4%;
}

.line0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
    margin-right: 5%;

}

.titre{
    font-size: small;
    margin-left: 3%;
    margin-top: 2%
    ;
}

.line2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 12%;

}

p{
    font-size: x-small;
}

.C1{
    display: inline-block;

}
input{
    width: 150px;
}

.ajout button{
    margin-left: 85%;
    margin-top: 1%;
    background-color: rgb(4, 255, 4);
    border-color: rgb(4, 255, 4);
    width: 200px;
    height: 25px;
    color: white;
}
:hover.ajout button{
    background-color: greenyellow;
}
.AS{
    display: flex;
}

body{
    background-color: whitesmoke;
}

.formulaire{
    padding-top: 2%;
    background-color: rgb(231, 229, 229);
    border: 3px solid rgb(141, 141, 141);
    padding-bottom: 1%;
    border-radius: 4px;
}
.Total{
    margin-left: 2%;
    margin-top: 1%;
}